@model PaginatedList<Reservation>
@using CodeFinalProject.Enums
@{
    ViewData["Title"] = "Index";
    var dataOrder = (Model.PageIndex - 1) * 5;
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <a>Reservation</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        dataOrder++;
                        <tr>
                            <th scope="row">@dataOrder</th>
                            <td>@item.FullName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Email</td>
                            <td>@item.ReservDate</td>
                            <td>@item.ReservEndDate</td>
                            <td>
                                @switch (item.ReservationStatus)
                                {
                                    case ReservationStatusEnum.Aproved:
                                        {
                                            <button type="button" class="btn btn-outline-success">Aproved</button>
                                            break;
                                        }
                                    case ReservationStatusEnum.Rejected:
                                        {
                                            <button type="button" class="btn btn-outline-danger">Rejected</button>
                                            break;
                                        }
                                    case ReservationStatusEnum.Pending:
                                        {
                                            <button type="button" class="btn btn-outline-info">Pending</button>
                                            break;
                                        }
                                }
                            <td style="width: 170px">
                                    @if (item.ReservationStatus == ReservationStatusEnum.Pending)
                                    {
                                    <a asp-controller="reservation" asp-action="Approve" asp-route-id="@item.Id" class="btn btn-success btn-circle">
                                        <i class="fas fa-check"></i>
                                    </a>

                                    <a asp-controller="reservation" asp-action="Reject" asp-route-id="@item.Id" class="btn btn-warning btn-circle">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </a>
                                    }
                                <a asp-controller="reservation" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger btn-circle">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
              @*  <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item @(Model.HasPrevius ? "" : "disabled")">
                            <a class="page-link" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
                        </li>
                        @if (Model.TotalPages <= 5)
                        {
                            for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                                    <a class="page-link" asp-route-search="@ViewBag.Search" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }
                        else
                        {
                            int startPage = 1;
                            int endPage = 5;
                            if (Model.PageIndex > 3 && Model.PageIndex < Model.TotalPages - 2)
                            {
                                startPage = Model.PageIndex - 2;
                                endPage = Model.PageIndex + 2;
                            }
                            else if (Model.PageIndex >= Model.TotalPages - 2)
                            {
                                startPage = Model.TotalPages - 4;
                                endPage = Model.TotalPages;
                            }
                            if (startPage > 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link">...</a>
                                </li>
                            }
                            for (int i = startPage; i <= endPage; i++)
                            {
                                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                                    <a class="page-link" asp-route-search="@ViewBag.Search" asp-route-page="@i">@i</a>
                                </li>
                            }
                            if (endPage < Model.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link">...</a>
                                </li>
                            }
                        }
                        <li class="page-item @(Model.HasNext ? "" : "disabled")">
                            <a class="page-link" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                        </li>
                    </ul>
                </nav>*@
            </table>
        </div>
    </div>
</div>
